{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="main__content-container">
        <div class="main-page">
            <div class="main__page-container">
                <div class="main__page-title">Акт выдачи книг №{{act_issuing_info.num}}</div>
            </div>
        </div>
        <div class="main-info">
            <div class="main__info-container">
                <div class="main__info-content">
                    <div class="info-content">
                        <div class="info-label">Читатель:</div>
                        <div class="info-title">{{ act_issuing_info.reader }}</div>
                    </div>
                    <div class="info-content">
                        <div class="info-label">Предварительная стоимость проката:</div>
                        <div class="info-title">{{ act_issuing_info.tentative_cost }} BYN</div>
                    </div>
                    <div class="info-content">
                        <div class="info-label">Вернуть не позднее:</div>
                        <div class="info-title">{{ act_issuing_info.return_date }}</div>
                    </div>
                    <div class="info-content">
                        <div class="info-label">Копия:</div>
                        <div class="info-title">{{ act_issuing_info.copies }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}