<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <link rel="shortcut icon"  href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>Library</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a href="/" class="header-logo">
                {% load static %}
                <img src="{% static 'logo.png' %}" class="header-img">
            </a>
        </div>
    </header>
    <main class="main">
        <div class="main-container">
            <nav class="main-nav">
                <div class="main__nav-container">
                    {% for i in nav %}
                    <a href="{% url i.1 %}" class="main-nav__btn">{{i.0}}</a>
                    {% endfor %}
                    <form action="{% url 'librarian:reader_list' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="process" value="issuance">
                        <button type="submit" class="main-nav__btn">Выдача книг</button>
                    </form>
                    <form action="{% url 'librarian:reader_list' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="process" value="return">
                        <button type="submit" class="main-nav__btn">Возврат книг</button>
                    </form>
                </div>
            </nav>
            {% block content %}
            {% endblock content %}
        </div>
    </main>
</body>
</html>