{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="main__content-container">
        <div class="main-page">
            <div class="main__page-container">
                <div class="main__page-title">Регистрация книги</div>
            </div>
        </div>
        <div class="main-form">
            <div class="main__form-container">
                <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="main__form-content">
                        <div class="main__form-box input-box">
                            {% for i in book_form %}
                            <div class="main__input-boxes">
                                {% if i.name != 'rating' %}
                                <label class="input-boxes" for="{{i.id_for_label}}">{{i.label}}</label>
                                <div class="main__input-box">{{i}}</div>
                                <div class="form-error">{{i.errors}}</div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <label for="rating_id"></label>
                            <input type="hidden" class="bgw" name="rating" value="0" id="rating_id" readonly="readonly" />
                        </div>
                        <div class="main__form-box input-box">
                            {% for i in author_form %}
                            <div class="main__input-boxes">
                                <label class="input-boxes" for="{{i.id_for_label}}">{{i.label}}</label>
                                <div class="main__input-box">{{i}}</div>
                                <div class="form-error">{{i.errors}}</div>
                            </div>
                            {% endfor %}
                            <div class="input-box-photo">
                                <div class="input-boxes">Фото авторов</div>
                                {{author_photo_form}}
                                <div class="form-error-photo">{{i.non_form_errors}}</div>
                            </div>
                            <div class="input-box-photo">
                                <div class="input-boxes">Фото обложки</div>
                                {{cover_form}}
                                <div class="form-error-photo">{{i.non_form_errors}}</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="main__form-button"> 
                        <button type="submit" class="main__form-btn">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}