{% extends 'base.html' %}

{% block content %}
<div class="table grad flex items-center justify-center text-center w-full">
    {% if popup %}
    <div class="popup">
        {% if popup.list %}
        <div class="flex flex-col items-center justify-center">
            {% for book in popup.list %}
            <form action="" method="post" class="flex">
                {% csrf_token %}
                <div class="flex flex-col items-center justify-center">
                    <div class="text-slate-900 font-medium">Название</div>
                    <div class="text-slate-600 font-normal">{{ book.name }}</div>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <div class="text-slate-900 font-medium">Автор</div>
                    <div class="text-slate-600 font-normal">{{ book.author }}</div>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <div class="text-slate-900 font-medium">Доступные экземпляры</div>
                    <div class="text-slate-600 font-normal">
                        <select name="select" id="copy">
                            {% if book.copies %}
                            {% for opt in book.copies %}
                            <option value="{{opt.pk}}">{{ opt.num }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div>
                    <button type="submit" class="my-6 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 shadow-inner">Добавить</button>
                </div>
            </form>
            {% endfor %}
        </div>
        {% elif not popup.list %}
        <div>Нет книг удовлетворяющих запрос</div>
        <button type="submit"></button>
        {% endif %}
    </div>
    {% endif %}
    <div class="text-slate-700 font-medium text-7xl mb-10">Акт выдачи книг № {{ act }}</div>
    <div class="flex flex-col justify-center text-center">
        <div>{{ reader }}</div>
        {% if books %}
        {% for book in books %}
        <div>{{book}}</div>
        {% endfor %}
        <button>Сдать книги</button>
        {% else %}
            {% if not limit %}
                <form method="post">
                    {% csrf_token %}
                    <input type="search" name="q" placeholder="Искать книгу…" class="bgw">
                    <button type="submit" class="my-6 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 shadow-inner">Искать</button>
                </form>
            {% endif %}
        <div>
            {% if preview %}
            {% for x in preview %}
                <form method="post">
                    <div class="flex items-center justify-center text-center">
                        <div>Название : {{  x.book  }}</div>
                        <div>Экземпляр : {{ x.num }}</div>
                        <input type="hidden" name="delete" value="{{ x.num }}" readonly="readonly" />
                        <button type="submit" class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 shadow-inner">Убрать</button>
                    </div>
                </form>
            {% endfor %}
            {% endif %}
        {% if repeat %}
            <div>Книга {{ repeat }} уже есть в списке</div>
        {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="register" value="{{ act }}" readonly="readonly" />
                {% if preview %}
                {% for x in preview %}
                <input type="hidden" class="bgw" name="copy_book_{{x.id}}" value="{{ x.id }}" readonly="readonly" />
                {% endfor %}
                {% endif %}
                {% if preview %}
                <button type="submit" class="my-6 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 shadow-inner">Регистрация</button>
                {% endif %}
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}