{% extends 'base.html' %}

{% block content %}
<div class="table grad flex items-center justify-center text-center w-full">
    <div class="text-slate-700 font-medium text-7xl mb-10">Книги</div>
    <table class="flex items-center justify-center">
        <tr>
            <th class="text-slate-900 font-medium">Название</th>
            <th class="text-slate-900 font-medium">Жанр</th>
            <th class="text-slate-900 font-medium">Год публикации</th>
            <th class="text-slate-900 font-medium">Общее количество экземпляров</th>
            <th class="text-slate-900 font-medium">Доступные экземпляры</th>
        </tr>
        {% for book in object_list %}
        <tr>
            <td class="text-slate-600 font-normal">{{ book.title_ru }}</td>
            <td class="text-slate-600 font-normal">
                {% for gen in book.genre.all %}
                {{ gen }}
                {% endfor %}
            </td>
            <td class="text-slate-600 font-normal">{{ book.publishing }}</td>
            <td class="text-slate-600 font-normal">{{ book.instance }}</td>
            <td class="text-slate-600 font-normal">
                {% for copy, value in copies.items %}
                {% if book.pk == copy %}
                {{ value }}
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% empty %}
        <div>No books yet.</div>
    {% endfor %}
    </table>
</div>


<div class="pagination shadow_down">
    <div class="flex items-center justify-center">
        <span class="current text-slate-700 font-medium">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
    </div>
    <div>
        <div class="step-links bg-white px-6 py-4">
            <ul class="flex flex-wrap items-center justify-center space-x-4">
                {% if page_obj.has_previous %}
                <li><a href="?page=1" class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 shadow-inner">&laquo; first</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}" class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 shadow-inner">previous</a></li>
                {% endif %}
                {% for num_page in paginator.page_range %}
                {% if page.number == num_page %}
                <li><a href="?page={{num_page}}" class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 shadow-inner">{{ num_page }}</a></li>
                {% else %}
                <li><a href="?page={{num_page}}" class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 shadow-inner">{{ num_page }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 shadow-inner">next</a></li>
                <li><a href="?page={{ page_obj.paginator.num_pages }}" class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900 shadow-inner">last &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
