{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="main__content-container">
        <div class="main-page">
            <div class="main__page-container">
                <div class="main__page-title">Книги</div>
            </div>
        </div>
        <div class="main-table">
            <div class="main__table-container">
                <table class="main__table">
                    <tr>
                        <th class="table__th">Название</th>
                        <th class="table__th">Жанр</th>
                        <th class="table__th">Год публикации</th>
                        <th class="table__th">Всего экземпляров</th>
                        <th class="table__th">Доступно экземпляров</th>
                    </tr>
                    {% for book in object_list %}
                    <tr>
                        <td class="table__td">{{ book.title_ru }}</td>
                        <td class="table__td">
                            {% for gen in book.genre.all %}
                            {{ gen }}
                            {% endfor %}
                        </td>
                        <td class="table__td">{{ book.publishing }}</td>
                        <td class="table__td">{{ book.instance }}</td>
                        <td class="table__td">
                            {% for copy, value in copies.items %}
                            {% if book.pk == copy %}
                            {{ value }}
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% empty %}
                    <div>No books yet.</div>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="main-pagination">
            <div class="main__pagination-container">
                <div class="main__pagination-pages">
                    <span class="main__pagination-page">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                </div>
                <div class="main___pagination-steps">
                    <ul class="main__steps">
                        {% if page_obj.has_previous %}
                        <li><a href="?page=1" class="main__step">&laquo; first</a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="main__step">previous</a></li>
                        {% endif %}
                        {% for num_page in paginator.page_range %}
                        {% if page.number == num_page %}
                        <li><a href="?page={{num_page}}" class="main__step">{{ num_page }}</a></li>
                        {% else %}
                        <li><a href="?page={{num_page}}" class="main__step">{{ num_page }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="main__step">next</a></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}" class="main__step">last &raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
