{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="main__content-container">
        <div class="main-page">
            <div class="main__page-container">
                <div class="main__page-title">Регистрация читателя</div>
            </div>
        </div>
        <div class="main-form">
            <div class="main__form-container">
                <form method="post">
                    {% csrf_token %}
                    <div class="main__form-content">
                        <div class="main__form-box input-box">
                            {% for i in form %}
                            <div class="main__input-boxes">
                                <div class="main__input-boxes__box">
                                    <label class="input-boxes" for="{{i.id_for_label}}">{{i.label}}</label>
                                    <div class="main__input-box">{{i}}</div>
                                    <div class="form-error">{{i.errors}}</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="main__form-button"> 
                        <button type="submit" class="main__form-btn">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
</div>

{% endblock %}