{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="main__content-container">
        <div class="main-page">
            <div class="main__page-container">
                <div class="main__page-title">Информация о читателе</div>
            </div>
        </div>
        <div class="main-info">
            <div class="main__info-container">
                <div class="info-name">{{ reader_info.surname }} {{ reader_info.name }} {{ reader_info.patronymic }}</div>
                <div class="main__info-content">
                    <div class="info-content">
                        <div class="info-label">Почта:</div>
                        <div class="info-title">{{ reader_info.email }}</div>
                    </div>
                    <div class="info-content">
                        <div class="info-label">День рождения:</div>
                        <div class="info-title">{{ reader_info.birth }}</div>
                    </div>
                    <div class="info-content">
                        <div class="info-label">Серия и номер паспорта:</div>
                        <div class="info-title">{{ reader_info.passport_id }}</div>
                    </div>
                    <div class="info-content">
                        <div class="info-label">Место жительства:</div>
                        <div class="info-title">{{ reader_info.residence }}</div>
                    </div>
                </div>
                <div class="books">Книги на руках:
                    <div class="book">
                        <div>1984   5 June, 2023</div>
                    </div>
                    <div>+</div>
                    <div>+</div>
                    <div>+</div>
                    <div>+</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}