{% extends 'base.html' %}

{% block content %}
<div class="main-content">
    <div class="main__content-container">
        <div class="main-page">
            <div class="main__page-container">
                <div class="main__page-title">Акт возврата книг № {{ act }}</div>
            </div>
        </div>
        <div class="main-returning">
            <div class="main__returning-container">
                <div class="main__returning">{{ reader }}</div>
                {% if books %}
                <form action="" method="post" enctype='multipart/form-data'>
                    <div class="main__returning__books">
                        {% csrf_token %}
                        {% for book in books %}
                        <div class="main__returning__book">
                            <div class="returning__book">{{book}}</div>
                            <div class="returning__violences">
                                <label class="returning__violences-label">Нарушения: </label>
                                <textarea class="returning__violences-text" name="violation_{{book.pk}}"></textarea>
                                <div class="returning__violences-photos">
                                    <label class="violences__photo-label" for="img_{{book.pk}}"></label>
                                    <input type="file" accept="image/*" name="img_{{book.pk}}" id="img_{{book.pk}}" multiple>
                                </div>
                            </div>
                            <div class="returning-costs">
                                <div class="returning__cost">Штраф : <input type="number" name="fine_{{book.pk}}" id="fine_{{book.pk}}" step="0.01" class="returning__costs-item"></div>
                                <div class="returning__cost">Price_per_day : <input type="number" name="price_per_day_{{book.pk}}" id="{{book.pk}}_price_per_day" step="0.01" class="returning__costs-item" value="{{ book.price_per_day }}"></div>
                                <div class="returning__cost">Status :
                                    <div class="returning__costs-status">
                                        <label for="{{book.pk}}_True">True</label>
                                        <input type="radio" name="status_{{book.pk}}" id="{{book.pk}}_True" value="True" checked>
                                        <label for="{{book.pk}}_True">False</label>
                                        <input type="radio" name="status_{{book.pk}}" id="{{book.pk}}_False" value="False">
                                    </div>
                                </div>
                                <div class="returning__costs-rating">Рейтинг : <input type="number" name="rating_{{book.book.pk}}" id="rating_{{book.book}}" step="1" max="10" min="1" class="returning__costs-reting"></div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        </div>
                    <div class="main-returning__results">
                        <div class="returning__results">Дата возврата: <input type="date" value="{{ preliminary_date }}" name="time" class="returning__result"></div>
                        <div class="returning__results">Итогова сумма: <input type="number" step="0.01" value="{{ tentative_cost }}" name="cost" class="returning__result"></div>
                    </div>
                    <input type="hidden" name="register" value="{{ act }}" readonly="readonly" />
                    {% if books %}
                    {% for x in books %}
                    <input type="hidden" class="" name="copy_book_{{x.id}}" value="{{ x.id }}" readonly="readonly" />
                    {% endfor %}
                    {% endif %}
                    <div class="main-returning__button">
                        <button type="submit" class="main-returning__btn">Регистрация</button>
                    </div>
                </form>
                {% else %}
                <div>
                    <div>Книг на руках нет</div>
                    <a href="https://">Взять книги</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}